<div class="breadcom purpel-bg">
  <div class="container-fluid"><a class="navbar-brand" href="#">Reset Password</a></div>
</div>

<div class="container">



  <!-- Login form -->
  <form class="login-form max650 auto" #resetForm="ngForm" (ngSubmit)="SendResetInformation(UserEmail.value, UserPassword.value, UserPassword2.value)"
    autocomplete="off">
    <p class="site-icon text-center">
      <img src="assets/img/logo.png" class="logoimg" alt="">
    </p>

    <div class="alert alert-success mt-25 text-center" role="alert" *ngIf="resetSuccess === true">
      <strong>Success!</strong> Please wait while we redirect you to the login page.
    </div>

    <div class="text-center">
      <p><strong>Please enter the following information to reset your password</strong></p>
    </div>
    <div class="md-form">
      <input type="email" #UserEmail ngModel id="UserEmail" name="UserEmail" class="form-control" mdbInputDirective
        required [disabled]="submittingForm">
      <label for="defaultForm-email">Your email</label>
    </div>
    <div class="md-form">
      <input type="password" id="UserPassword" name="UserPassword" #UserPassword ngModel class="form-control"
        mdbInputDirective required [disabled]="submittingForm">
      <label for="defaultForm-pass">New password</label>
    </div>
    <div class="md-form">
      <input type="password" id="UserPassword2" name="UserPassword2" #UserPassword2 ngModel class="form-control"
        mdbInputDirective required [disabled]="submittingForm">
      <label for="defaultForm-pass">Confirm New Password</label>
    </div>

    <div class="row justify-content-center m-t-25 m-b-25">
      <div class="col-6">
        <!-- <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required #captchaControl="ngModel"></re-captcha> -->
      </div>

    </div>

    <div class="text-center">
      <!-- <button type="submit" class="btn btn-default waves-light yellow-bg form-submit" mdbWavesEffect [disabled]="submittingForm || !resetForm.valid || !captchaControl.valid">Reset</button> -->
      <button type="submit" class="btn btn-default waves-light yellow-bg form-submit" mdbWavesEffect [disabled]="submittingForm || !resetForm.valid ">Reset</button>
    </div>
  </form>

  <div class="text-center m-t-45">
    <a routerLink="/login" class="purpel">Log in</a>
  </div>
  <div class="text-center m-t-25 m-b-25">
    <a [href]="signupUrl" class="purpel" mdbWavesEffect>Create Account</a>
  </div>
  <!-- Login form -->
</div>
