.lessoncard{
  background: #F3821E;
  color:#fff;
}
.spanfontsize{
  font-size: 0.8rem;
}
.answerdivider{
  background-color: #fff;
  width: 100%;
  height:0.2rem;
  border-radius: 10px;

}
.answerstatistics{
  text-align: center;
}
.mediabodybackcolor{
  background: #fafafa;


}
.pad{
  padding: 0px;
}
.paracss{
  color:rgba(0, 0, 0, 0.5438);
  font-size: 0.8rem;
}
.borderspace{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0px;
}
.textbuttoncss{
  color:#F3821E;
  font-weight: bold;
  font-size: 0.8rem;
}
.progressbarback{
  background: #70AD47;
  border-radius: 0.40rem;
}
.progress {
  display: flex;
  height: 0.8rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.40rem;
}
.percss{
  color:#fff;
  font-size: 0.8rem;
}
.pertextshadow{
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
  font-family:Comfortaa;
  font-size: 58px;
}
