<div class="breadcom purpel-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      <a class="navbar-brand" routerLink="/lesson"><mdb-icon icon="arrow-left"></mdb-icon> Demo Lesson</a>
    </div>
    <div class="col-md-6 text-right">
      <span class="verbalcss">Verbal Writing</span><img src="assets/img/Verbal Writing.png" class="" alt="">
    </div>
  </div>
  </div>
</div>
<div class="container mt-5 mb-5" >
  <p>{{title}}</p>
  <div class="col-md-4 offset-md-4">
    <div class="row mb-3 justify-content-center" >
          <div class="col-md-6">
            <div class="text-center imgheight">
              <img src="assets/img/Full Robot.png" class="rob" alt="">
              <div id="overlay" [ngStyle]="styleimg">

              </div>
            </div>
            <div class="text-center shadowimg">
            </div>
            <h5 class="text-center">Good robot</h5>
          </div>
          <div class="col-md-6">
              <div class="text-center imgheight">
                <img src="assets/img/Full Robot.png" class="rob" alt="">
                <div id="overlay1" [ngStyle]="styleimg1">

                </div>
              </div>

              <div class="text-center shadowimg">
              </div>
              <h5 class="text-center">Bad robot</h5>
            </div>
          </div>
            <div class="text-center mt-2 ">
                <h2>
                  <ng-container *ngFor="let ans of answer; let i=index">
                  <span class="brd" [ngStyle]="enterstyle[i]">
                    {{ans}}
                  </span>
                </ng-container>
                </h2>
            </div>
            <div class="text-center">
              <ng-container *ngFor="let ques of question; let i=index" >
              <button type="button" [disabled]="disable[i]" (click)="adddata(question[i],i)" class="btn1 btnpad1 btn-success1" [ngStyle]="clickbuttonstyle[i]" mdbWavesEffect>{{ques}}</button>
            </ng-container>
            </div>
            <button type="button" (click)="tryagain()" class="btn1  btn-warning btnpad1" mdbWavesEffect>Try Again</button>
            <a (click)="checkpage()"   class="float-right mt-3 " [ngStyle]="linkstyle"><i class="fa address-card" aria-hidden="true"></i>next</a>
        <div class="modal-dialog text-center pos modal-notify modal-success" *ngIf="displaywrongmodal" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close"  >
                        <span aria-hidden="true" (click)="closewrongmodal()" >×</span>
                    </button>
                    <div class="text-center">
                        <i class="fa fa-close fa-4x mb-3 animated rotateIn"></i>
                        <p>You have build the bad robot.Don't Worry.Try Again</p>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-dialog justify-content-center pos modal-notify modal-success" *ngIf="displaymodal" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <button type="button" class="close"  >
                      <span aria-hidden="true" (click)="closemodal()" >×</span>
                  </button>
                  <div class="text-center">
                      <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                      <p>Congratulatons! You have build the robot successfully</p>
                  </div>
              </div>
          </div>
    </div>
    </div>
  </div>
  <div class="breadcom purpel-bg  ">
    <div class="container"></div>
</div>
