<div class="breadcom purpel-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
        <a class="navbar-brand" routerLink="/lessons"><mdb-icon icon="arrow-left"></mdb-icon> Demo Lesson</a>
      </div>
      <div class="col-md-6 text-right">

        </div>
    </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3 text-center">
          <img src="assets/img/done.png" alt="">
          <h1 class="mt-5">Lesson Complete</h1>
          <a routerLink="/lessons" ><button class="btn btn-success">Go to Lesson</button></a>
      </div>
    </div>
  </div>
  <div class="breadcom purpel-bg fixed-bottom  ">
      <div class="container"></div>
  </div>
