<div class="breadcom purpel-bg">
  <div class="container-fluid"><a class="navbar-brand" href="#">Reset Password</a></div>
</div>

<div class="container">
  <p class="site-icon text-center">
    <img src="assets/img/logo.png" class="logoimg" alt="">
  </p>

  <ng-container *ngIf="emailSent != true">
    <!-- Login form -->
    <form class="login-form max650 auto" #resetForm="ngForm" (ngSubmit)="SendResetRequest(UserEmail.value)"
      autocomplete="off">


      <div class="md-form">
        <input type="email" #UserEmail ngModel id="UserEmail" name="UserEmail" class="form-control" mdbInputDirective
          required [disabled]="submittingForm">
        <label for="defaultForm-email">Your email</label>
      </div>

      <div class="row justify-content-center m-t-25 m-b-25">
        <div class="col-6">
          <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required #captchaControl="ngModel"></re-captcha>
        </div>

      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-default waves-light yellow-bg form-submit" mdbWavesEffect [disabled]="submittingForm || !resetForm.valid || !captchaControl.valid">Reset</button>

      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="emailSent === true">
    <div class="alert alert-success text-center mt-5" role="alert">
      <p><i class="fa fa-check-circle"></i> Please check your email for a password reset link.</p>
    </div>
  </ng-container>

  <div class="text-center m-t-45">
    <a routerLink="/login" class="purpel">Log in</a>
  </div>
  <div class="text-center m-t-25 m-b-25">
    <a [href]="signupUrl" class="purpel" mdbWavesEffect>Create Account</a>
  </div>
  <!-- Login form -->
</div>
