<div class="breadcom purpel-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a class="navbar-brand" routerLink="/lesson">
          <mdb-icon icon="arrow-left"></mdb-icon> Paragraph Loop Demo
        </a>
      </div>
      <div class="col-md-6 text-right">
        <span class="verbalcss">Demo</span><img src="assets/img/Logical.png" class="" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container ">

  <div class="row justify-content-center">
    <div class="col-8" *ngIf="setupData?.completed != true">

      <article class="paragraph_loop_helpText mt-2 mb-5" [innerHtml]="setupData.helpText | safeHTML"></article>

      <article [ngStyle]="{ 'opacity' : setupData.changingParagraph === true ? 0.25 : 1 }" class="m-5 p-5 border border-info" [innerHtml]="setupData.paragraphs[setupData.currentIndex] | safeHTML"></article>

      <div class="paragraph_loop_question mt-5 text-center">
        <h4>{{ setupData.question }}</h4>
      </div>

      <div class="paragraph_loop_buttons mb-5 text-center">
        <button [disabled]="setupData?.changingParagraph === true" class="btn btn-primary btn-lg" (click)="setupData.completed = true;">
          Yes
        </button>
        <button [disabled]="setupData?.changingParagraph === true" class="btn btn-primary btn-lg" (click)="NextParagraph()">
          No
        </button>
      </div>

    </div>
    <div class="col-8" *ngIf="setupData?.completed === true">
      <article class="m-5 p-5 text-center">
        <h3><i class="fa fa-check-circle"></i></h3>
        <h4>Completed</h4>
      </article>
    </div>
  </div>

</div>
<div class="breadcom purpel-bg  ">
  <div class="container"></div>
</div>