
<div class="breadcom purpel-bg">
  <div class="container-fluid"><a class="navbar-brand" href="#">Sign Up</a></div>
</div>

<div class="container-fluid">
  <form class="signup">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <p class="signup-wc m-t-75">
          Welcome!
        </p>
      </div>
      <div class="col-md-6 col-lg-6">
        <p class="site-icon m-t-20">
          <svg width="118" height="151" viewBox="0 0 118 151" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.514916 71.052L17.7888 0.5H53.2171L70.4888 71.0428L65.3032 89.2129H5.00678L0.514916 71.052Z" transform="translate(28.1775 29.708)" fill="#E0E0E0" stroke="black" />
            <line y1="-0.25" x2="88.8672" y2="-0.25" transform="translate(63.3734 30.3087) rotate(90)" stroke="black" stroke-width="0.5" />
            <path d="M0.5 4.95941V1.5903L17.5547 26.0314L11.2123 45.7792L0.5 4.95941Z" transform="translate(46.284 24.3253) scale(-1 1)" fill="#BDBDBD" stroke="black" />
            <path d="M8.01693 51.6272L0.543453 31.6189L15.2722 1.36681L24.3974 31.5679L16.2025 51.6272H8.01693Z" transform="matrix(-0.823298 0.56761 -0.560345 -0.828259 49.7318 64.4449)" fill="#E0E0E0" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M1.96747 4.50895L0.684925 0.5H6.46008L5.32004 4.50895H1.96747Z" transform="matrix(0.823298 -0.56761 -0.560345 -0.828259 7.68816 30.2606)" fill="#E0E0E0" stroke="black" />
            <path d="M8.93626 31.3241L0.65212 0.5H21.5784V31.3241H8.93626Z" transform="translate(36.3095 119.176)" fill="#828282" stroke="black" />
            <path d="M0 31.3032V0" transform="translate(45.5682 119.343)" stroke="black" stroke-width="0.5" />
            <path d="M0.5 4.96551V1.59689L27.8616 41.007L18.1234 79.3612L0.5 4.96551Z" transform="translate(80.3669 24.3253)" fill="#BDBDBD" stroke="black" />
            <path d="M7.9945 51.8923L0.54208 31.8202L14.9558 1.3772L24.3218 31.7737L16.1518 51.8923H7.9945Z" transform="translate(93.1479 64.8757)" fill="#E0E0E0" stroke="black" />
            <path d="M1.9633 4.52392L0.683676 0.5H6.43966L5.30222 4.52392H1.9633Z" transform="translate(101.669 117.151)" fill="#E0E0E0" stroke="black" />
            <path d="M8.93626 31.3241L0.65212 0.5H21.5784V31.3241H8.93626Z" transform="translate(90.4372 119.176) scale(-1 1)" fill="#828282" stroke="black" />
            <path d="M0 31.3032V0" transform="translate(81.1785 119.343) scale(-1 1)" stroke="black" stroke-width="0.5" />
            <rect x="0.5" y="0.5" width="41.6036" height="28.4258" transform="translate(42.0236 1)" fill="#E0E0E0" stroke="black" />
            <rect x="0.5" y="0.5" width="3.27963" height="8.37217" transform="translate(83.9171 10.3721)" fill="#BDBDBD" stroke="black" />
            <path d="M0.356636 0H3.20973M0 4.32562H2.85309" transform="translate(87.4835 12.8954)" stroke="black" />
            <ellipse cx="1.42654" cy="1.44187" rx="1.42654" ry="1.44187" transform="translate(57.2658 16.8605)" fill="black" />
            <ellipse cx="1.42654" cy="1.44187" rx="1.42654" ry="1.44187" transform="translate(65.8251 16.8605)" fill="black" />
            <path d="M21.4132 0L0 29.122M21.4132 0L42.3802 28.9719M21.4132 0V29.122" transform="translate(42.1089 1.18665)" stroke="black" stroke-width="0.5" />
          </svg>

        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="md-form">
          <input type="text" id="defaultForm-name" class="form-control" mdbInputDirective>
          <label for="defaultForm-name">Name</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="md-form">
          <input type="text" id="defaultForm-email" class="form-control" mdbInputDirective>
          <label for="defaultForm-email">Email</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="md-form">
          <input type="password" id="defaultForm-password" class="form-control" mdbInputDirective>
          <label for="defaultForm-name">Password</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="md-form">
          <input type="text" id="defaultForm-language" class="form-control" mdbInputDirective>
          <label for="defaultForm-language">Language</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="md-form">
          <input type="text" id="defaultForm-Label" class="form-control" mdbInputDirective>
          <label for="defaultForm-Label">Label</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="md-form">
          <input type="text" id="defaultForm-Nationality" class="form-control" mdbInputDirective>
          <label for="defaultForm-Nationality">Nationality</label>
        </div>
      </div>
    </div>

  <div class="text-center m-t-45 m-b-30">
    <span>Have an Account?</span><span><a routerLink="/login" class="yellow"> Sign in </a></span>
  </div>
  <div class="text-center">
    <input type="submit" class="btn btn-default waves-light yellow-bg form-submit" mdbWavesEffect value="Sign Up">
  </div>

  </form>

</div>
