<div class="row justify-content-center">
    <div class="col-md-4">
  
        <p class="text-center">
          <img src="assets/images/edugami_logo.png" alt="Edugami Logo" class="img-fluid">
        </p>
  
        <!-- Login form -->
        <form class="login-form max650 auto" #resetForm="ngForm" (ngSubmit)="SendResetInformation(UserEmail.value, UserPassword.value, UserPassword2.value)"
        autocomplete="off">

          <div class="alert alert-success mt-25 text-center" role="alert" *ngIf="resetSuccess === true">
            <strong>Success!</strong> Please wait while we redirect you to the login page.
          </div>

          <div class="text-center">
            <p><strong>Please enter the following information to reset your password</strong></p>
          </div>
          <div class="md-form">
            <label for="defaultForm-email">Your email</label>
            <input type="email" #UserEmail ngModel id="UserEmail" name="UserEmail" class="form-control" mdbInputDirective
              required [disabled]="submittingForm">
            
          </div>
          <div class="md-form">
            <label for="defaultForm-pass">New password</label>
            <input type="password" id="UserPassword" name="UserPassword" #UserPassword ngModel class="form-control"
              mdbInputDirective required [disabled]="submittingForm">
            
          </div>
          <div class="md-form">
            <label for="defaultForm-pass">Confirm New Password</label>
            <input type="password" id="UserPassword2" name="UserPassword2" #UserPassword2 ngModel class="form-control"
              mdbInputDirective required [disabled]="submittingForm">
            
          </div>

          <div class="mt-3 mb-3">
            <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required #captchaControl="ngModel"></re-captcha>
          </div>

          <div class="">
            <button type="submit" class="btn btn-primary waves-light yellow-bg form-submit" mdbWavesEffect [disabled]="submittingForm || !resetForm.valid || !captchaControl.valid">Reset</button>
            <!-- <button type="submit" class="btn btn-primary form-submit" mdbWavesEffect [disabled]="submittingForm || !resetForm.valid">Reset</button>  -->
            <a routerLink="/login" class="btn btn-link"><i class="fa fa-arrow-left"></i> Log in</a>
          </div>
      </form>
  </div>