<div class="breadcom purpel-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
        <a class="navbar-brand" routerLink="/lesson"><mdb-icon icon="arrow-left"></mdb-icon>  Lesson 5</a>
      </div>
      <div class="col-md-6 text-right">
        <span class="verbalcss">Categorization</span><img src="assets/img/Logical.png" class="" alt="">
      </div>
    </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row" >
      <div class="col-md-8 offset-md-2 mt-5">
          <div class="divborder1 text-center">
              <h2>THE ORCHARD TIMES</h2>
            </div>
        <form>
          <div class="row mt-5">
              <div class="col-md-7 ">

                  <mdb-card>
                      <mdb-card-body>
                        <mdb-card-title>
                        <h4>What is Lorem Ipsum?</h4>
                        </mdb-card-title>
                        <mdb-card-text class="textalignstyle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                              when an unknown printer took a galley of type and scrambled it to make a type
                              specimen book. It has survived not only five centuries, but also the leap into
                               electronic typesetting, remaining essentially unchanged. It was popularised
                               in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                               more recently with desktop publishing software like Aldus PageMaker including
                               versions of Lorem Ipsum.
                        </mdb-card-text>
                      </mdb-card-body>
                    </mdb-card>
              </div>
              <div class="col-md-5">
                  <div class="form-check">
                      <input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox1">
                      <label class="form-check-label" for="checkbox1">Classic checkbox software like Aldus PageMaker including
                          versions of Lorem Ipsum.</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox2">
                      <label class="form-check-label" for="checkbox2">Classic checkbox software like Aldus PageMaker including
                          versions of Lorem Ipsum.</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox3">
                      <label class="form-check-label" for="checkbox3">Classic checkbox software like Aldus PageMaker including
                          versions of Lorem Ipsum.</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" mdbInputDirective type="checkbox" id="checkbox4">
                      <label class="form-check-label" for="checkbox4">Classic checkbox software like Aldus PageMaker including
                          versions of Lorem Ipsum.</label>
                  </div>
              </div>
              <div class="container">
                  <mdb-card>
                      <mdb-card-body>
                        <mdb-card-title>
                        </mdb-card-title>
                        <mdb-card-text class="textalignstyle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                              when an unknown printer took a galley of type and scrambled it to make a type
                              specimen book. It has survived not only five centuries, but also the leap into
                               electronic typesetting, remaining essentially unchanged. It was popularised
                               in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                               more recently with desktop publishing software like Aldus PageMaker including
                               versions of Lorem Ipsum.
                        </mdb-card-text>
                      </mdb-card-body>
                    </mdb-card>
              </div>
          </div>
          <div>
              <a routerLink="/categorizationlesson2/part/1"  class="float-right mt-1 mb-5 photoiconandtext" >Next</a>

          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="breadcom purpel-bg  ">
      <div class="container"></div>
  </div>

