.dropBorder {
  border: 1px dashed black;
  padding: 25px;
  margin-top: 15px;
}

.divbutton {
  padding: 15px;
}

.pos {
  position: relative;
  left: 0px !important;
  top: 0px !important;
}


.marpadnewspaper2 {
  margin-top: 21%;
  padding-bottom: 3%;
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}

.btn-custom {
  background: #0b51c5;
  color: white !important;
}

.invisible {
  display: none !important;
}

.successBorder {
  border: 1px dashed green;
  padding: 13px;
  text-align: center;

}

.errorBorder {
  border: 1px dashed red;

}
