<div class="breadcom purpel-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      <a class="navbar-brand" routerLink="/lesson"><mdb-icon icon="arrow-left"></mdb-icon> Demo Lesson  Part 2/6</a>
    </div>
    <div class="col-md-6 text-right">
      <span class="verbalcss">Musical</span><img src="assets/img/Logical.png" class="" alt="">
    </div>
  </div>
  </div>
</div>
<div class="divpstyle">
    <p><b></b></p>
</div>
<div class="container mt-3">

  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5 mb-5">
      <h1 class="text-center">Not Implemented Yet</h1>
      <h4 class="text-center">Intelligence: Musical</h4>
              <div class="text-center mt-3">
                  <a (click)="checkpage()"  class=" mt-1 mb-5 photoiconandtext" >Next</a>

              </div>

          </div>


    </div>
  </div>

<div class="breadcom purpel-bg fixed-bottom ">
    <div class="container"></div>
</div>



