#orderLevelModal {
    .draggable{
        border-radius: 4px;
        border: 1px solid green;
        cursor: move;
        padding: 5px 10px;
        margin-bottom: 5px;
    }
    .gu-transit{
        background: grey;
    }
}