<div class="breadcom purpel-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      <a class="navbar-brand" routerLink="/lesson"><mdb-icon icon="arrow-left"></mdb-icon> Demo Lesson</a>
    </div>
    <div class="col-md-6 text-right">
      <span class="verbalcss">Bodily</span><img src="assets/img/Bodily.png" class="" alt="">
    </div>
  </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
        <div class="divborder1 text-center">
            <h2>THE ORCHARD TIMES</h2>
          </div>
      <form>
        <div class="row mt-5">
            <div class="col-md-7 ">

                <mdb-card>
                    <mdb-card-body>
                      <mdb-card-title>
                      <h4>What is Lorem Ipsum?</h4>
                      </mdb-card-title>
                      <mdb-card-text class="textalignstyle">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                             electronic typesetting, remaining essentially unchanged. It was popularised
                             in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                             more recently with desktop publishing software like Aldus PageMaker including
                             versions of Lorem Ipsum.
                      </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>
            </div>
            <div class="col-md-5 textareawidth">
              <p>What is Lorem Ipsum?</p>
              <textarea (keyup)="checkform()" name="input1" [(ngModel)]="input1" id=""  rows="10"></textarea>
            </div>
            <div class="container mb-5">
                <mdb-card>
                    <mdb-card-body>
                      <mdb-card-title>
                      </mdb-card-title>
                      <mdb-card-text class="textalignstyle">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into
                             electronic typesetting, remaining essentially unchanged. It was popularised
                             in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                             more recently with desktop publishing software like Aldus PageMaker including
                             versions of Lorem Ipsum.
                      </mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>
            </div>
        </div>
        <div *ngIf="!hasError">
            <a routerLink="/exercise3_bodilypart1" class="float-right mt-1 mb-5 photoiconandtext" >Next</a>

        </div>
      </form>

    </div>
  </div>
</div>
<div class="breadcom purpel-bg  ">
    <div class="container"></div>
</div>
