<div class="breadcom purpel-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
        <a class="navbar-brand" routerLink="/lesson"><mdb-icon icon="arrow-left"></mdb-icon>  Lesson 5</a>
      </div>
      <div class="col-md-6 text-right">
        <span class="verbalcss">Verbal Oral</span><img src="assets/img/Logical.png" class="" alt="">
      </div>
    </div>
    </div>
  </div>

  <div class="container ">

    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
          <p class="text-left"><b>Look at the following sentences to understand why we need to use Past perfect.</b></p>
          <p class="text-left">i)	The man went to Lake Malawi. After, he went to the airport.</p>
          <p class="text-left">ii)	The man went to Lake Malawi after he went to the airport.</p>
          <p class="text-left">In sentence i) which event is first? Going to Lake Malawi or the airport?</p>
          <p class="text-left"><b>Answer:</b> Going to Lake Malawi</p>
          <p class="text-left">In sentence i) which event is first? Going to Lake Malawi or the airport?</p>
          <p class="text-left"><b>Answer: </b>the airport</p>
          <p class="text-left"><b>Look at the following sentence:</b></p>
          <p class="text-center">“When he finished his swim he realized he had forgotten to bring a change of clothes”</p>
          <p class="text-left">Write the past simple</p>
          <p class="text-left"><b>Answer: </b> he finished his swim he realized</p>
          <p class="text-left">Write the past perfect</p>
          <p class="text-left"><b>Answer: </b> he had forgotten to bring a change of clothes</p>
          <p class="text-left">Which event happened first? Finishing his swim or forgetting his clothes?</p>
          <p class="text-left"><b>Answer: </b>  forgetting his clothes</p>
          <p class="text-left"> How do we write past perfect?</p>
          <p class="text-left"><b>Answer:</b> Past Perfect = Subject +had + past participle of verb</p>
          <div class="pull-right"  >
              <a (click)="checkpage()" class="float-right mt-1 mb-5 photoiconandtext" >Next</a>
          </div>
      </div>
    </div>
  </div>
